.banner__container {  
    width: 100%;
    height: auto;
    padding: 20px 0;
    background-color: #2b2c3c;
  
      div{
        width: auto;
        margin: 0 auto;
        padding: 0 5px;
      }
  
  
    .banner__payments {
      text-align: center;
  
      .banner__payments--images {
        display: block;
  
        img {
          display: inline;
          margin-right: 5px;
  
          &:nth-child(1) {
            width: 58px;
          }
  
          &:nth-child(2) {
            width: 40px;
          }
  
          &:nth-child(3) {
            width: 63px;
          }
  
          &:nth-child(4) {
            width: 54px;
          }
  
          &:nth-child(5) {
            width: 62px;
          }
        }
      }
  
      .banner__payments--button {
        display: inline-block;
        padding: 6px 12px 6px 0 ;
  
        button {
          all: unset;
          color: hsla(0,0%,100%,.75);
          font-size: 15px;
          cursor: pointer;
  
          &:hover {
            border: unset;
            text-decoration: underline;
          }
  
          span {
            display: block;
          }
        }
      }
    }
  
    @media (min-width: 768px) {
      .banner__payments {
        width: 562px;
      
        .banner__payments--images {
          display: inline-block;
          text-align: start;
        }
      }  
    }  
  
    @media (min-width: 992px) {
      padding: 30px 0;
  
      .banner__payments {
        text-align: start;
        width: 936px;
  
        .banner__payments--images {
  
          img {
            margin-right: 20px;
  
            &:nth-child(1) {
              width: 95px;
            }
  
            &:nth-child(2) {
              width: 63px;
            }
  
            &:nth-child(3) {
              width: 99px;
            }
  
            &:nth-child(4) {
              width: 86px;
            }
  
            &:nth-child(5) {
              width: 96px;
            }
          }
        }
      }  
    }
  
    @media (min-width: 1200px) {
      .banner__payments {
        width: 100%;
        max-width: 1236px;
      }
    }
  }