.CardsData__container{
    height: auto;
    background-color: #303141;
    width: 80%;
    margin-left: 90px;
    border-radius: 5px;
    padding: 60px;

.CardsData__show-info{
    color: white;
}

.CardsData__img{
    
    color: white;
    margin-left: 70em;
    background-color: #4c6085;
    border-radius: 4px;
}
.CardsData__items{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
}

@media (min-width: 768px) {
    display: grid;

    .CardsData__items{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 992px) {

    padding: 48px;

    .CardsData__items{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (min-width: 1200px) {
    .CardsData__items{
        grid-template-columns: repeat(4,1fr);
    }
}
}