.main__container {
    width: 100%;
    padding: 115px 20px 60px;
    margin: 20%;
      
    @media (min-width: 576px) {
      width: 538px;
    }
  
    @media (min-width: 768px) and (max-width: 991px) {
      width: 562px;
    }
  
    @media (min-width:992px) {
      width: 936px;
    }
  
    @media (min-width: 1200px) {
      width: 100%;
      max-width: 1236px;
      padding: 182px 0 80px;
    }
  }