body {
    
  }
  
  .error-container {
    text-align: center;
    font-family: 'Arial', sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    background: #0000; 
    color: #ffbfbf; 
  }
  
  .astronaut-container {
    position: relative;
  }
  
  .astronaut {
    width: 200px; 
  }
  
  .text-container {
    margin-top: 20px;
  }
  
  h2 {
    color: #fffb; 
  }
  